@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.title {
  background-image: linear-gradient(43deg);
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.block-text {
  font-size: 50px;
  font-weight: 700;
}
.fade-animation {
  -webkit-animation-name: fade-in-up;
  animation-name: fade-in-up;
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }
  75% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }
  75% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.prueba {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imagenPagina {
  width: 35vw;
  height: 35vh;
}

.marcoImagen {
  display: flex;
  flex-direction: column;
}

.imagenPaginaFooter {
  width: 35vw;
  height: 5vh;
}

.modalWeb {
  margin-top: 5vh;
}

.responsive {
  display: flex;
  flex-direction: column;
}

.modalResponsive {
  display: flex;
  flex-direction: column;
  width: 15vw;
  height: 20vh;
}

.githubProjectLink {
  width: 50vw;
  height: 50vh;
  margin-top: 50vh;
}
